<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- CSS --}}
  <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />  

  <title>Burgers</title>
</head>
<body>
  {{{ body }}}

  {{!-- JQUERY --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <script>
    $(function() {
      $("#newBurger").on("submit"), function(event) {
        event.preventDefault();

        var newBurger = {
          burger_name: $("#newBurgerName").val().trim(),
          devoured: false
        };

        $.ajax("/api/burgers", {
          type:"POST",
          data: newBurger
        }).then(function() {
          console.log("New burger added");
          redirect("/");
      })
    }

    // on click of devoured button
    $("#devouredBtn").on("click", function(event) {
      event.preventDefault();

      // update devoured field to true
      var id = $(this).data("id");
      var isDevoured = {
        devoured: true
      };
  
      $.ajax("api/burgers/" + id, {
        type: "PUT",
        data: isDevoured
      }).then(function() {
        console.log("Burger eaten");
        redirect("/");
      });
    });
  </script>
});
</body>
</html>
